{% set shiki_options = {'theme': 'one-dark-pro'} %}

{% block styles %}
<link rel="stylesheet" href="{{ _static_url }}/content.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/index.js" type="module"></script>
{% include "./_partials/copy-code.j2" %}
{% endblock %}

{% block body %}
{% include "./_partials/header.j2" %}

<main class="main note-page">
  <article class="h-entry">
    <h1 class="p-name">{{ note.title }}</h1>
    {% include "./_partials/entry-meta.j2" %}
    <div class="e-content prose">{{ note.content|safe }}</div>
  </article>
</main>

{% include "./_partials/footer.j2" %}
{% endblock %}
