@import "./index.css";
@import "./css/components/prose.css";
@import "./css/components/table.css";
@import "./css/components/gallery.css";
@import "./css/components/admonition.css";
@import "./css/components/highlight.css";

.note-page h1 {
  margin: 0;
}

.note-page .entry-meta {
  margin-top: 1rem;
}

.note-page .entry-meta a:hover {
  color: var(--accent-9);
}

.e-content {
  margin-top: 2rem;
}

.e-content a:hover {
  color: var(--accent-9);
}
